<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <title>EGE MEDİKAL</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    @await Html.PartialAsync("_StylesPartial")
</head>

<body>
    @await Html.PartialAsync("_PreloderPartial")
   @await Html.PartialAsync("_OffCanvarsMenuBeginPartial")
    @await Html.PartialAsync("_HeaderSectionPartial")
    @await Html.PartialAsync("_CategoriesSectionPartial")
    @await Html.PartialAsync("_ProductSectionPartial")
    @await Html.PartialAsync("_BannerSectionPartial")
    @await Html.PartialAsync("_TrendSectionPartial")
    @await Html.PartialAsync("_DiscountSectionPartial")
    @await Html.PartialAsync("_ServicesSectionPartial")
    @await Html.PartialAsync("_InstagramPartial")
    

    @RenderBody()
    @await Html.PartialAsync("_FooterPartial")
    @await Html.PartialAsync("_SearchPartial")
    @await Html.PartialAsync("_ScriptsPartial")
    @* @await Component.InvokeAsync("Notyf") *@
    @* @await RenderSectionAsync("Scripts", false); *@
</body>

</html>