<a href="/" class="nav-item nav-link active">Anasayfa</a>
<a href="shop.html" class="nav-item nav-link">Alışveriş</a>
<a href="shop-detail.html" class="nav-item nav-link">Kategoriler</a>
<a href="contact.html" class="nav-item nav-link">İletişim</a>