@model EgeApp.Frontend.Mvc.Models.Product.ProductCreateViewModel
@{
    ViewData["PageHeader"] = "Yeni Ürün";
    ViewData["ShowButton"] = false;
    ViewData["ButtonTitle"] = "";
    ViewData["ButtonLink"] = "";
}
<form asp-area="Admin" asp-controller="Product" asp-action="Create" method="post" enctype="multipart/form-data">
    @* <div class="text-danger" asp-validation-summary="All"></div> *@
    <div class="card card-primary">
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Properties"></label>
                        <textarea asp-for="Properties" class="form-control" rows="4"></textarea>
                        <span class="text-danger" asp-validation-for="Properties"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Price"></label>
                                <input asp-for="Price" class="form-control">
                                <span class="text-danger" asp-validation-for="Price"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="IsActive" class="d-block"></label>
                                <input asp-for="IsActive" class="d-block" data-bootstrap-switch data-off-color="danger"
                                    data-on-color="success">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="IsHome" class="d-block"></label>
                                <input asp-for="IsHome" class="d-block" data-bootstrap-switch data-off-color="danger"
                                    data-on-color="success">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Categories"></label>
                        <select asp-for="CategoryId" asp-items="@Model.Categories" class="form-control custom-select">
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="Image"></label>
                        <div class="custom-file">
                            <input asp-for="Image" class="custom-file-input">
                            <label class="custom-file-label" for="Image">Resim Seç</label>
                        </div>
                        <span class="text-danger" asp-validation-for="Image"></span>
                        <div class="container-fluid p-4 d-flex justify-content-center">
                            <img class="img-thumbnail  img-fluid d-none" id="image-preview"
                                style="max-height: 250px;" />
                        </div>


                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                    <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="btn btn-warning">Vazgeç</a>
                </div>
            </div>

        </div>
        <!-- /.card-body -->
    </div>
</form>


@section Scripts {
        <!-- Bootstrap Switch -->
        <script src="~/admin/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
        <script>
            $(function () {
                $("input[data-bootstrap-switch]").each(function () {
                    $(this).bootstrapSwitch('state', $(this).prop('checked'));
                });
                $("#Image").on("change", function (e) {
                    const selectedFiles = e.target.files;
                    $("#image-preview").addClass("d-block");
                    $("#image-preview").attr("src", window.URL.createObjectURL(selectedFiles[0]))
                });
            })
        </script>
}
