@model IEnumerable<EgeApp.Frontend.Mvc.Models.Category.CategoryViewModel>

<ul class="list-group">
    @foreach (var category in Model)
    {
        <li class="list-group-item">
            <span>@category.Name</span>
        </li>
    }
</ul>