@model EgeApp.Frontend.Mvc.Models.Category.CategoryCreateViewModel

@{
    ViewData["Title"] = @Model.IsMainCategory ? "Ana Kategori Ekle" : "Alt Kategori Ekle";
    ViewData["PageHeader"] = ViewData["Title"];
}

<form asp-area="Admin" asp-controller="Category" asp-action="Create" method="post" enctype="multipart/form-data">
    <input asp-for="IsMainCategory" type="hidden" />
    <div class="card card-primary">
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="IsActive" class="d-block"></label>
                                <input asp-for="IsActive" class="d-block" data-bootstrap-switch data-off-color="danger"
                                    data-on-color="success" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    @if (!Model.IsMainCategory)
                    {
                        <div class="form-group">
                            <label asp-for="ParentCategoryId">Üst Kategori</label>
                            <select asp-for="ParentCategoryId" asp-items="@Model.Categories"
                                class="form-control custom-select">
                                <option value="">Üst Kategori Seç</option>
                            </select>
                            <span class="text-danger" asp-validation-for="ParentCategoryId"></span>
                        </div>
                    }
                    <div class="form-group">
                        <label asp-for="Image">Kategori Resmi</label>
                        <div class="custom-file">
                            <input asp-for="Image" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Dosya Seç</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                    <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="btn btn-warning">Vazgeç</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/admin/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="~/admin/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script>
        $(function () {
            $("input[data-bootstrap-switch]").each(function () {
                $(this).bootstrapSwitch('state', $(this).prop('checked'));
            });

            bsCustomFileInput.init();
        });
    </script>
}