@model EgeApp.Frontend.Mvc.Models.Identity.ForgotPasswordViewModel

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <div class="bg-light p-5 rounded shadow">
                    <h1 class="text-center mb-4">Şifre Sıfırlama</h1>
                    <form asp-area="" asp-controller="Account" asp-action="ForgotPassword" method="post">
                        <div class="alert alert-danger" asp-validation-summary="All" role="alert"></div>

                        <!-- Email Alanı -->
                        <div class="form-group mb-4">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input asp-for="Email" type="email" class="form-control border-0 py-3 px-3 rounded"
                                placeholder="Email adresinizi giriniz">
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>

                        <button type="submit" class="btn btn-primary w-100 py-3">Gönder</button>

                        <p class="mt-4 text-center text-muted">
                            Sistemde kayıtlı email adresinize şifre sıfırlama linki gönderilecektir.
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>