@model EgeApp.Frontend.Mvc.Models.Identity.ForgotPasswordViewModel
<div class="container-fluid contact py-5">
    <div class="container py-5">
        <div class="p-5 bg-light rounded">
            <div class="row g-4 py-5">
                <div class="col-md-4 m-auto mt-5">
                    <form asp-area="" asp-controller="Account" asp-action="ForgotPassword" method="post">
                        <div class="text-danger" asp-validation-summary="All"></div>
                        <input asp-for="Email" class="w-100 form-control border-0 py-3 mb-4"
                            placeholder="Email adresinizi giriniz">
                        <button type="submit" class="w-100 btn btn-info text-white py-3" type="submit">Gönder</button>
                        <span class="text-danger" asp-validation-for="Email"></span>
                        <p>Sistemde kayıtlı email adresinize şifre sıfırlama linki gönderilecektir.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
