@model EgeApp.Frontend.Mvc.Models.Identity.ResetPasswordViewModel
<div class="container-fluid contact py-5">
    <div class="container py-5">
        <div class="p-5 bg-light rounded">
            <div class="row g-4 py-5">
                <div class="col-md-4 m-auto mt-5">
                    <form asp-area="" asp-controller="Account" asp-action="ResetPassword" method="post">
                        <input type="hidden" asp-for="UserId" />
                        <input type="hidden" asp-for="TokenCode" />
                        <div asp-validation-summary="All"></div>
                        <input asp-for="Password" class="w-100 form-control border-0 py-3 mb-4"
                            placeholder="Yeni parolanızı giriniz">
                        <span class="text-danger" asp-validation-for="Password"></span>
                        <input asp-for="RePassword" class="w-100 form-control border-0 py-3 mb-4"
                            placeholder="Yeni parolanızı tekrar giriniz">
                        <span class="text-danger" asp-validation-for="RePassword"></span>
                        <button type="submit" class="w-100 btn btn-info text-white py-3" type="submit">Şifremi
                            Sıfırla</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
